@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

.home {
    margin: 0;
    padding: 0;
}

.home .home__header {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #8000DE;
    color: white;
}

.home .home__header .home__header--logo {
    height: 100%;
    min-width: 150px;
    display: flex;
    align-items: center;
    gap: 9px;
}

.home .home__header .home__header--logo img {
    height: 100%;
    padding: 4px;
}

.home .home__header .home__header--logo span {
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
    font-weight: 600;
}

.home .home__header .home__header--buttons {
    display: flex;
    flex-direction: row;
}

.home .home__header .home__header--buttons  button{
    min-width: 100px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.home .home__header .home__header--buttons  #white{
    color: #8000DE;
    background-color: white;
    border: none;
}
.home .home__header .home__header--buttons  button:hover{
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    font-weight: 600;
}

.home .home__header .home__header--buttons  #black{
    color: white;
    background-color: #8000DE;
    border: none;
}

.home .home__main {
 min-height: calc(100vh - 50px);
 width: 100%;
}
/* Carrusel */
.home .home__main .home__main--carousel {
    height: 350px;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.home .home__main .home__main--carousel .carousel--content{
    height: 250px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;

}
.carousel--content h2{
    height: auto;
    margin: 0;
    color: #8000DE;
}

.carousel--content p{
    height: auto;
    margin: 0;
}

.carousel--content button{
    height: 32px;
    margin: 0 20%;
    border: none;
    color: white;
    background-color: #8000DE;
    text-align: center;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

}

.carousel--content button:hover{
    background-color: #4B0082;
    font-weight: 600;
}

.carousel--images img{
    height: 100%;
    width: 100%;
}
/* Compañías */

.home__main .home__main--companies{
    
}
@media (min-width: 640px){
    .home .home__header .home__header--buttons  button{
        min-width: 120px;
    }
    .home .home__main .home__main--carousel {
        height: calc(100vh - 50px);
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .carousel--images{
        grid-column: span 2 / span 2;
    }
    .home .home__main .home__main--carousel .carousel--content{
        height: 100%;
        padding: 0 20px;
    }
    .formulario__contacto{
        font-family: 'Roboto';
        font-weight: bold ;
        font-style: normal;
        font-weight: 100;
    }
    .formulario__titulo{
        font-family: 'Roboto';
        font-weight: bold;
        color: #4B0082;
    }
    .formulario__button{
        
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            text-align: center;
            text-decoration: none;
            background-color: #4CAF50;
            color: #ffffff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        
          
          .formulario__button:hover {
            background-color: #45a049;
          }
          
          .formulario__button:active {
            background-color: #3e8e41;
          }
          
    }


    .input {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
      }

      .input-contactanos {
        padding: 5px;
        width: 500px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
      }

      .login-container {
        max-width: 300px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #f1f1f1;
        
      }

      .login-register {
        max-width: 250px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #f1f1f1;
        
      }
      .register-container {
        max-width: 520px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;

        background-color: #f1f1f1;
        font-family: Arial, sans-serif;
      }
      .title{
        text-align: center;
        font-family: Arial, sans-serif;
      }
}




